h1{
    font-family: 'Lucida Sans',  'Lucida Grande',  sans-serif;
}

p{
    color: rgba(28, 134, 18, 0.925);
     background-color: rgb(167, 130, 130);
}
.kisayazi{
    background-color: rgb(74, 74, 179);
}